# Ignore all by default
*

# Exceptions
!/.gitignore
!/CMakeLists.txt
!/udp.c
!/dtls_client.c
!/dtls_server.c
!/root.key
!/root.crt
!/server.key
!/server.req
!/server.crt
!/client.key
!/client.req
!/client.crt
